@import '../../../sass/colors/variables.scss';
@import '../../../sass/mixins/breakpoints.scss';

.edit-user {
    margin: 0 18%;
    animation: fade 500ms ease-in-out;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10%;

      @include md {
        margin: 0 10%; 
      }
    }

    &__back-button-container {
        margin-bottom: 5%;
  
        .back-button {
          padding: 0.7rem 1.5rem;
          cursor: pointer;
          line-height: 1;
          border: none;
          border-radius: 0.5rem;
          color: $white;
          background-color: $orange;
          font-weight: bold;
          transition: all 300ms ease-in-out;
          margin-top: 10%;
  
          &:hover {
            transform: scale(1.035);
          }
  
          @include md {
            width: 100%;
            margin-bottom: 1rem;
          }
  
        }
      }

      &__card {
        border-radius: 0.3rem;
        width: 450px;
        background-color: $white;
        box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
        padding: 1rem 1.5rem;
        margin: 1rem 0;

        @include md {
          width: 295px; 
        }
      }

      &__main-title {
        text-align: center;
        margin: 1rem 0;
        color: #555555;
      }

      form {
        .form-field {
          input {
            border: 0.0625em solid #e5e5e5;
            background-color: #f6f6f6;
            border-radius: 0.5rem;
            width: 100%;
            color: #555555;
            padding: 10px;
          }

          small {
            display: inline-block;
            margin-bottom: 15px;
            margin-top: 10px;
            margin-left: 0.7rem;
          }
        }
      }

      &__button-container {
        input {
        border: none;
        border-radius: 0.3rem;
        width: 100%;
        padding: 10px;
        margin: 0.5rem 0;
        font-weight: bold;
        letter-spacing: 1.5px;
        color: $white;
        cursor: pointer;
        background-color: $orange;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: transform 100ms ease-in-out;
  
        &:hover {
          transform: scale(1.01);
        }
  
        &:active {
          transform: scale(0.95);
        }
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      text-align: center;
    }
}