.location-search {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: inherit;
    box-sizing: content-box;
    background-color: #f6f6f6;
    color: #555555;

    &__autocomplete-dropdown-container {
      // border: 0.0625em solid #e5e5e5;
      z-index: 5;
    }

    &__loader-container {
      display: flex;
      justify-content: center;
    }

    &__suggestion-item,
    &__suggestion-item-active {
      font-family: "Hind", sans-serif;
      border-bottom: 1px solid #e5e5e5;
      cursor: pointer;
      padding: 1% 0;
      padding-left: 5%;
      font-size: 0.8rem;
      transition: background-color 300ms ease-in-out;
    }

    &__suggestion-item-active {
      &:hover {
        background-color: #e7e7e7;
      }
    }
  }