/*** Dark theme ***/
$bg-color-dark: #1A1A1B;
$body-color-dark: #D7DADC;
$color1-dark: #272729;
$border-dark: #343536 1px solid;

$scrollbar-track-dark: #272729;
$scrollbar-thumb-dark: #7c7c7c;
$scrollbar-thumb-hover-dark: #6e6e6e;

/*** Default ***/
$white: #ffffff;

$black: #000000;
$black-one: 333333;

$link: #4193c6;
$link-one: #551A8B;

$orange: #eb8555;

$red: #F6504C;
$red-hover: #d44442;