@import '../../../sass/colors/variables.scss';

.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    animation: fade 500ms ease-in-out;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid $orange;
        border-radius: 50%;
        animation: spinning 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

        border-color: $orange transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
          }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}