@import '../../../sass/colors/variables.scss';
@import '../../../sass/mixins/breakpoints.scss';

.login {
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 90vh;

      @include lg {
        height: initial;
        margin: 10% 0;
      }
    }
  
    &__card {
      border-radius: 0.3rem;
      width: 450px;
      background-color: $white;
      box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
      padding: 1rem 1.5rem;
      animation: fade 500ms ease-in-out;

      @include md {
        width: 295px; 
      }

      form {
        .login-body {
          .form-field {
            width: 100%;
            input {
              border: 0.0625em solid #e5e5e5;
              background-color: #f6f6f6;
              border-radius: 0.5rem;
              width: 100%;
              color: #555555;
              padding: 10px;
              margin-bottom: 15px;
            }
          }

          .password-container {
            position: relative;
            display: inline-block;

            div {
              position: relative;
              i {
                position: absolute;
                top: 20%;
                right: 3%;
                color: #555555;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    &__card-bottom {
      border-radius: 0.3rem;
      width: 450px;
      background-color: $white;
      box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
      padding: 1rem 1.5rem;
      animation: fade 500ms ease-in-out;
      margin-top: 1%;

      @include md {
        width: 295px; 
      }

      p {
        color: #555555;
        font-weight: bold;
        text-align: center;
      }
  
      a {
        color: #4ea7ae;
        font-weight: bold;
        text-decoration: none;
      }
    }
  
    &__main-title {
      text-align: left;
      margin: 1rem 0;
      color: #555555;
    }
  
    &__button-container {
      width: 100%;
      input {
        border: none;
        border-radius: 0.3rem;
        width: 100%;
        padding: 10px;
        margin: 0.5rem 0;
        font-weight: bold;
        letter-spacing: 1.5px;
        color: $white;
        cursor: pointer;
        background-color: $orange;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: transform 100ms ease-in-out;
      }
    }

    &__login-button-container {
      position: relative;

        &:nth-child(1) {
          i {
            z-index: 10;
            top: 32%;
            left: 3%;
            font-size: 1.1rem;
            color: $white;
            position: absolute;
          }
        }

        &:nth-child(2) {
          i {
            z-index: 10;
            top: 32%;
            left: 3%;
            font-size: 1.1rem;
            position: absolute;
            color: $white;
            cursor: not-allowed;
          }
          input {
            cursor: not-allowed;
            background-color: #3b5998;
          }
        }

        &:nth-child(3) {
          i {
            z-index: 10;
            top: 27%;
            left: 3%;
            position: absolute;
            color: #555555;
            cursor: not-allowed;
          }
          input {
            cursor: not-allowed;
            z-index: 10;
            background-color: $white;
            color: #555555;
            margin-bottom: 1.5rem;
          }
        }
    }
  }