@import '../../../sass/colors/variables.scss';
@import '../../../sass/mixins/breakpoints.scss';

.profile-detail {
    animation: fade 500ms ease-in-out;
    margin: 0 18%;

    @include md {
        display: flex;
        justify-content: center;
    } 

    &__back-button-container {  
        margin: 5% 0;
        // padding: 0 15%;
        .back-button {
          padding: 0.7rem 1.5rem;
          cursor: pointer;
          line-height: 1;
          border: none;
          border-radius: 0.5rem;
          color: $white;
          background-color: $orange;
          font-weight: bold;
          transition: all 300ms ease-in-out;

          &:hover {
            transform: scale(1.035);
          }

          @include md {
            width: 100%;
            margin: 1rem 0;
          }
          
        }
      }

    &__card {
        background-color: $white;
        width: 100%;
        border-radius: 0.3rem;
        margin: 1rem 0;
        box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
        padding: 1rem 1.5rem;

        @include md {
            width: 295px; 
        }    

        img {
            cursor: pointer;
            border-radius: 100%;
            width: 150px;
            height: 150px;
        }
    }

    &__loading {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__loading-container,
    &__no-profile {
        display: flex;
        align-items: center;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
        
        h1 {
            font-size: 1.2rem;   
            margin-bottom: 1rem; 
        }

        a {
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.5rem;
            color: $white;
            background-color: $orange;
            font-weight: bold;
            transition: all 300ms ease-in-out;
            text-decoration: none;
  
            &:hover {
              transform: scale(1.035);
            }
        }
    }

    &__social-container {
        display: flex;
        justify-content: space-evenly;

        a {
            color: inherit;
            i {
                cursor: pointer;
                font-size: 2rem;
            }
        }

        
    }

    &__your-profile-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        a {
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.5rem;
            color: $white;
            background-color: $orange;
            font-weight: bold;
            transition: all 300ms ease-in-out;
            text-decoration: none;

            &:hover {
                transform: scale(1.035);
            }
        }
    }

    &__info-card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media only screen and (max-width: 960px) {
            display: initial;
        }

        p {
            @include md {
                font-size: 1.1rem;
            }
        }        
    }

    .center-horizontal {
        text-align: center;
    }

    .center-vertical {
        display: flex;
        align-items: center;
    }

    &__popover {
        border-radius: 50%;
        width: 300px;
        height: 300px;

        @include md {
            width: 250px;
            height: 250px;
        }
    }

    &__chat-button {
        margin-top: 1.5%;

        a {
            color: inherit;
        }
    }
}

.popover-root {
    top: -20% !important;
}

.paper-popover {
    background: transparent !important;
    box-shadow: initial !important;
    // @include md {
    //     left: 11% !important;
    // }
}