@import '../../sass/mixins/breakpoints.scss';
@import '../../sass/colors/variables.scss';

.posts {
    animation: fade 500ms ease-in-out;
    margin: 0 18%;

    &__header-container {
        margin: 5% 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include xl {
            display: initial;
        }

        .back-button {
            @include md {
                width: 100%;
                margin-top: 2rem;
            }
        }

        .search-bar-container {

            @include md {
                // margin-bottom: -9%;
            }

            .search-bar {
                padding: 10px;
                border-radius: 0.3rem;
                width: 400px;
                text-align: left;
                font-weight: bold;
                padding-left: 3rem;
                border: none;
                box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;

                @include lg {
                    width: 100%;
                    margin-top: 5%;
                }

                @include md {
                    width: 100%;
                }
            }

            .search-button {
                position: relative;
                top: 3px;
                left: -394px;
                width: 30px;
                height: 30px;
                border: none;
                background: none;
                color: rgba(0,0,0,.65);
                cursor: pointer;
                font-size: 19px;

                i {
                    @include lg {
                        display: none;
                    }
                }

            }

            .clear-button {
                position: relative;
                top: 3px;
                left: -65px;
                width: 35px;
                height: 35px;
                border: none;
                background: none;
                color: rgba(0,0,0,.65);
                cursor: pointer;
                font-size: 19px;

                i {
                    @include lg {
                        display: none;
                    }
                }
            }
        }



        #create-button {
            @include md {
                width: 100%;
            }
        }
        
        .back-button,
        .create-button {
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.5rem;
            color: $white;
            background-color: $orange;
            font-weight: bold;
            transition: all 300ms ease-in-out;

            &:hover {
                transform: scale(1.035);
            }

            @include lg {
                width: 100%;
            }

            @include md {
                &:nth-child(1) {
                    margin-bottom: 1rem;
                    width: 100%
                }
            }
        }

        .back-button {
            @include lg {
                margin-top: 5%;
            }
        }

        .create-button {
            @include lg {
                margin-bottom: 5%;
            }
        }
    }

    &__loading-container {
        height: 100vh; 
        display: flex; 
        justify-content: center; 
        margin-top: 10%;
    }
}