@import '../../sass/colors/variables.scss';
@import '../../sass/mixins/breakpoints.scss';

.upload-image {
    animation: fade 500ms ease-in-out;
    margin: 0 18%;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh;
  
        @include md {
          margin: 0 10%; 
          height: initial;
        }
    }

    &__back-button-container {
      margin: 5% 0;
      @include md {
        width: 100%;
      }
      .back-button {
          padding: 0.7rem 1.5rem;
          cursor: pointer;
          line-height: 1;
          border: none;
          border-radius: 0.5rem;
          color: $white;
          background-color: $orange;
          font-weight: bold;
          transition: all 300ms ease-in-out;

          &:hover {
              transform: scale(1.035);
          }

          @include md {
            width: 100%;
            margin-top: 1rem;
          }
        }
    }

    &__card {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      border-radius: 0.3rem;
      margin: 1rem 0;
      // width: 450px;
      background-color: $white;
      box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
      padding: 1rem 1.5rem;

      @include md {
        width: 295px; 
      }

      h1 {
        font-size: 1.8rem;

        @include md {
          font-size: 1.4rem;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img {
          height: 150px;
          width: 150px;
          border-radius: 50%;
          margin-bottom: 1rem;
        } 

        input[type="file"] {
          margin-left: 5rem;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }

        input[type="submit"] {
          border: none;
          border-radius: 0.3rem;
          width: 100%;
          padding: 10px;
          margin: 0.5rem 0;
          font-weight: bold;
          letter-spacing: 1.5px;
          color: $white;
          cursor: pointer;
          background-color: $orange;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: transform 100ms ease-in-out;
          margin-bottom: 1.5rem;
          
          @include md {
            width: 65%;
          }
        }
      }

    }
}