@import '../../sass/colors/variables.scss';
@import '../../sass/mixins/breakpoints.scss';

.post {
    background-color: $white;
    box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms ease-in-out;

    @include md {
        width: 100%;
    }

    &:active {
        color: inherit;
    }

    &__top-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        @include md {
            margin-top: initial;
        }

        p {
            i {
                padding-left: 0.5rem;
                padding-top: 0.5rem;
            }

            @include md {
                display: none;
            }
        }
    }

    &__bottom-container {
        margin-top: 15%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        @include md {
            margin-top: initial;
        }

        p {
            i {
                padding-left: 0.5rem;
                padding-top: 0.5rem;
            }

            @include md {
                display: none;
            }
        }
    }

   &__title {
       font-size: 1.2rem;
       overflow-wrap: break-word;
   }
}