@import '../../sass/mixins/breakpoints.scss';
@import '../../sass/colors/variables.scss';

.dashboard {
  animation: fade 500ms ease-in-out;

    &__spinner-container {
      margin: 0.5rem 0;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh;

        // @media only screen and (max-width: 960px) {
          
        // }
        @include lg {
          height: initial;
          margin: 10% 0;
        }
    }

    &__main-title {
      font-size: 1.8rem;
      margin-bottom: 2rem;

      @include md {
        font-size: 1.5rem;
      }

      @include xs {
        font-size: 1.3rem;
      }

      a {
        color: $link-one;
        text-decoration: none;
      }
    }

    &__buttons-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 2rem;

      a {
        padding: 0.7rem 1.5rem;
        cursor: pointer;
        line-height: 1;
        border: none;
        border-radius: 0.5rem;
        color: $white;
        background-color: $orange;
        font-weight: bold;
        transition: all 300ms ease-in-out;
        text-decoration: none;

        @include md {
          font-size: 0.5rem 
        }

        &:hover {
          transform: scale(1.01);
        }
  
        &:active {
          transform: scale(0.95);
        }
      }
    }

    &__card {
        display: flex;
        justify-content: space-between;
        border-radius: 0.3rem;
        margin: 1rem 0;
        width: 450px;
        background-color: $white;
        box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
        padding: 1rem 1.5rem;

        @include md {
          width: 295px; 
        }

        div {
          display: flex;
          align-items: center;
          
          img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            // margin-right: 1rem;
          }

          .button {
            text-decoration: none;
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.5rem;
            color: $white;
            background-color: $orange;
            font-weight: bold;
            transition: all 300ms ease-in-out;

            &:hover {
              transform: scale(1.01);
            }
      
            &:active {
              transform: scale(0.95);
            }

            a {
              color: inherit;
              text-decoration: none;
            }

            @include md {
              font-size: 0.5rem;
            }
          }
        }
    }

      
    .delete-btn {
      background-color: $red !important;
    }

    .main {
      display: flex;
      flex-direction: column;

      .sb {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__email {
          @include md {
            margin-top: 1rem;
          }
        }

        &__user-edit {
          color: inherit;
          text-decoration: none;
        }
      }

      div {
        .upload-image {
          display: flex;
          justify-content: flex-end;
          text-decoration: none;
          font-weight: bold;
          color: inherit;
          cursor: pointer;
          margin: 0;

          @include md {
            margin-top: 1rem;
          }
        }

        a {
          @include md {
            font-size: 0.9rem;
          }
        }
      }
    }

    &__button-container {
      display: flex;
      align-items: center;

      div {
        p {
          @include md {
            font-size: 0.9rem;
          }
        }
      }
    }

    &__modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      color: $black;
      padding: 1rem;
      width: 385px;
      background-color: $white;
      border: none;
      outline: none;
      box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
      border-radius: 0.3rem;
      animation: fade-1 500ms ease-in-out;

      
      @include md {
        width: 250px
      }

      .modal-wrapper {
        h1 {
          font-size: 1.3rem;
        }

        p {
          font-size: 0.8rem;

          &:nth-child(2) {
            margin-top: 0.5rem;
          }

          &:nth-child(3) {
            margin-bottom: 1rem;
          }
        }

        .buttons-container {
          display: flex;
          justify-content: flex-end;
          .delete-button {
            text-decoration: none;
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.3rem;
            color: $white;
            background-color: $red;
            font-weight: bold;
            transition: background-color 300ms ease-in-out;

              &:hover {
                background-color: $red-hover;
              }
              
          }

          .cancel-button {
            text-decoration: none;
            padding: 0.7rem 1.5rem;
            margin-left: 0.7rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.3rem;
            color: $black;
            background-color: $white;
            font-weight: bold;
            transition: background-color 300ms ease-in-out;

            &:hover {
              background-color: #D7DADC;
            }
          }
        }

      }
    }

    &__theme-text {
      @include md {
        display: none; 
      }
    }
}