// Large tablets and desktops
$screen-xl-min: 1200px; 

// Tablets and small desktops
$screen-lg-min: 960px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Smallest devices
$screen-xs-min: 480px;

// Extra large devices
@mixin xl {
    @media (max-width: #{$screen-xl-min}) {
        @content;
    }
 }

// Large devices
@mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }

// Medium devices
@mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }

 // Smallest devices
@mixin xs {
    @media (max-width: #{$screen-xs-min}) {
        @content;
    }
 }
 
// Custom devices
@mixin cdw($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
 }