@import '../../sass/colors/variables.scss';

.comment-form {
  margin-bottom: 10%;

    &__card {
        border-radius: 0.3rem;
        width: 450px;
        background-color: $white;
        box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
        padding: 1rem 1.5rem;
        animation: fade 500ms ease-in-out;

        @media only screen and (max-width: 768px) {
          width: 295px; 
        }

        .top-part {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
            h1 {
                margin-bottom: 3%;
                font-size: 1.5rem;
            }

            p {
              margin-bottom: 2%;
              font-weight: bold;
            }
        }
    }

    &__form {
        .form-field {
            textarea {
                border: 0.0625em solid #e5e5e5;
                background-color: #f6f6f6;
                border-radius: 0.2rem;
                width: 100%;
                color: #555555;
                padding: 10px;
                resize: none;
                display: inherit;
                font-family: "Hind", sans-serif
            }
    
            small {
                display: inline-block;
                margin-bottom: 15px;
                margin-top: 10px;
                margin-left: 0.7rem;
            }
        }
    }

    &__button-container {
        input {
            border: none;
            border-radius: 0.3rem;
            width: 100%;
            padding: 10px;
            margin: 0.5rem 0;
            font-weight: bold;
            letter-spacing: 1.5px;
            color: $white;
            cursor: pointer;
            background-color: $orange;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: transform 100ms ease-in-out;
    
          &:hover {
            transform: scale(1.035);
          }
        }
    
        .disabled {
            opacity: .8;
            cursor: no-drop;
            filter: contrast(.66);
            
            &:hover {
                transform: initial;
            }
        }

    }

    &__modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: #000;
        padding: 1rem;
        width: 385px;
        background-color: #fff;
        border: none;
        outline: none;
        box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
        border-radius: 0.3rem;
        animation: fade-1 500ms ease-in-out;

        @media only screen and (max-width: 768px) {
          width: 250px
        }
  
        .modal-wrapper {
          h1 {
            font-size: 1.3rem;
          }
  
          p {
            margin-bottom: 1rem;
            font-size: 0.8rem;
          }
  
          .buttons-container {
            display: flex;
            justify-content: flex-end;
            .delete-button {
              text-decoration: none;
              padding: 0.7rem 1.5rem;
              cursor: pointer;
              line-height: 1;
              border: none;
              border-radius: 0.3rem;
              color: #fff;
              background-color: $red;
              transition: background-color 300ms ease-in-out;
              font-weight: bold;
  
              &:hover {
                background-color: $red-hover;
              }
            }
  
            .cancel-button {
              text-decoration: none;
              padding: 0.7rem 1.5rem;
              margin-left: 0.7rem;
              cursor: pointer;
              line-height: 1;
              border: none;
              border-radius: 0.3rem;
              color: #000;
              background-color: #fff;
              font-weight: bold;
              transition: background-color 300ms ease-in-out;
  
              &:hover {
                background-color: #D7DADC;
              }
            }
          }
  
        }
      }
}