@import '../../sass/mixins/breakpoints.scss';

.landing-posts {
    height: 100%;
    &__container {
        display: flex;
        justify-content: space-between;
        overflow-y: hidden;
        height: 100%;

        &::-webkit-scrollbar {
            height: 7px;
        }
      
        &::-webkit-scrollbar-track {
            background-color: #d7dadc;
        }
    
        &::-webkit-scrollbar-thumb {
            cursor: pointer;
            background-color: #555555;
        }

        @include md {
            grid-template-columns: 1fr;
        }
    }

    &__loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}