@import '../../../sass/colors/variables.scss';
@import '../../../sass/mixins/breakpoints.scss';

.header {
    padding: 0.5rem 0;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 0px 16px 0px;
    width: 100%;
  
    &__container {
      margin: 0 15%;
      align-items: center;
      display: flex;
      justify-content: space-between;

      @include md {
        margin: 0 5%
      }
  
      nav {
        align-items: center;
        display: flex;
      }
    }
  
    &__logo-container {
      a {
        font-size: 2rem;
        margin-left: 1rem;
        margin-top: 0.2rem;
        transition: text-decoration-color 300ms ease-in-out;

        @include cdw(912) {
          font-size: 1.1rem;
        }

        &:hover {
          text-decoration: underline;
          text-decoration-color: $orange;
        }
      }

      span {
        font-family: 'Lato';
        font-weight: bold;
        font-size: 1rem;
        color: #505050;
        margin-left: 2%;
        cursor: default;

        @include cdw(912) {
          font-size: 0.5rem;
          margin-left: 3%;
        }

        @include md {
          font-size: 0.5rem;
          margin-left: 3%;
        }
      }
    }

  
    &__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      @include cdw(912) {
        display: none;
      }
  
      li {
        padding: 0px 2.5rem;
        list-style-type: none;
  
        a {
          display: block;
          position: relative;
          font-size: 1.1em;
          font-weight: bold;
          text-decoration: none;

          &:active {
            color: $link-one;
          }
  
          button {
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            line-height: 1;
            border-radius: 0.5rem;
            border: none;
            color: $white;
            background-color: $orange;
            font-weight: bold;
            transition: all 300ms ease-in-out;

            &:hover {
              transform: scale(1.035);
            }
          }
        }
      }
    }

    &__dropdown {
      li {
        a {
          
        }
      }
    }

    &__hamburger {
      color: #505050;
      display: none;
      @include cdw(912) {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        margin-right: 1rem;
        i {
          cursor: pointer;
          margin-top: 1rem;
          font-size: 1.3rem;
          -webkit-tap-highlight-color: transparent;
        }
      }
    }
  }

  .mobile-header {
    display: none;
    @include cdw(912) {
        display: block;
        height: 100%;
      }

      z-index: 10;
      top: 3.8rem;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 300ms ease-in-out;
      
      &__mobile-container {
        animation: fade-in 500ms ease-in-out;
        background-color: #fafafa;
        height: 30%;

        li {
          list-style-type: none;
          display: flex;
          justify-content: center;
          padding-top: 3%;
          a {
            &:nth-child(1) {
              text-decoration: none;
              font-weight: bold;

              button {
                padding: 0.7rem 1.5rem;
                cursor: pointer;
                line-height: 1;
                border: none;
                border-radius: 0.5rem;
                color: $white;
                background-color: $orange;
                font-weight: bold;
                transition: all 300ms ease-in-out;
              }
            }
          }
        }
      }
  }