@import '../../../sass/colors/variables.scss';

.footer {
    padding: 0.5rem 0;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 0px 16px 0px;
    width: 100%;
    animation: fade 500ms ease-in-out;
    
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: center;

        p {
            font-weight: bold;

            a {
                color: inherit;
                text-decoration: none;
                transition: color 300ms ease-in-out;

                &:hover {
                    color: $orange;
                }
            }
        }
    }
}