@import '../../sass/mixins/breakpoints.scss';
@import '../../sass/colors/variables.scss';

.request {
    animation: fade 500ms ease-in-out;
    margin: 0 18%;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80vh;
  
        @include md {
          margin: 0 10%; 
        }
      }

      &__back-button-container {
        margin: 5% 0;
        .back-button {
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.5rem;
            color: $white;
            background-color: $orange;
            font-weight: bold;
            transition: all 300ms ease-in-out;

            @include md {
                width: 100%;
                margin-top: 1rem;
            }

            &:hover {
                transform: scale(1.035);
            }
        }
    }
    
      &__card {
        border-radius: 0.3rem;
        width: 450px;
        background-color: $white;
        box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
        padding: 1rem 1.5rem;
        text-align: center;
  
        @include md {
          width: 295px; 
        }
  
        form {
          .request-body {
            .form-field {
              width: 100%;
              input {
                border: 0.0625em solid #e5e5e5;
                background-color: #f6f6f6;
                border-radius: 0.5rem;
                width: 100%;
                color: #555555;
                padding: 10px;
                margin-bottom: 15px;
              }
            }
          }
        }
      }

      &__button-container {
        width: 100%;
        input {
          border: none;
          border-radius: 0.3rem;
          width: 100%;
          padding: 10px;
          margin: 0.5rem 0;
          font-weight: bold;
          letter-spacing: 1.5px;
          color: $white;
          cursor: pointer;
          background-color: $orange;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: transform 100ms ease-in-out;
        }
      }
}