@import '../../../sass/colors/variables.scss';
@import '../../../sass/mixins/breakpoints.scss';

.comment {
    &__card {
        border-radius: 0.3rem;
        width: 450px;
        background-color: $white;
        box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
        padding: 1rem 1.5rem;
        animation: fade 500ms ease-in-out;
        margin: 3% 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @include md {
          flex-wrap: wrap;
          width: 295px; 
        }

        &:last-of-type {
          margin-top: 3%;
        }
        
        div {
          i {
              cursor: pointer;
          }
        }
    }

    &__image {
        img {
            cursor: pointer;
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        p {
            text-align: center;
        }
    }

    &__text {
      p {
        overflow-wrap: break-word;
        max-width: 250px;
      }
    }

    &__modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: #000;
        padding: 1rem;
        width: 385px;
        background-color: $white;
        border: none;
        outline: none;
        box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
        border-radius: 0.3rem;
        animation: fade-1 500ms ease-in-out;

        @include md {
          width: 250px
        }
  
        .modal-wrapper {
          h1 {
            font-size: 1.3rem;
          }
  
          p {
            margin-bottom: 1rem;
            font-size: 0.8rem;
          }
  
          .buttons-container {
            display: flex;
            justify-content: flex-end;
            .delete-button {
              text-decoration: none;
              padding: 0.7rem 1.5rem;
              cursor: pointer;
              line-height: 1;
              border: none;
              border-radius: 0.3rem;
              color: $white;
              background-color: $red;
              transition: background-color 300ms ease-in-out;
              font-weight: bold;
  
              &:hover {
                background-color: $red-hover;
              }
            }
  
            .cancel-button {
              text-decoration: none;
              padding: 0.7rem 1.5rem;
              margin-left: 0.7rem;
              cursor: pointer;
              line-height: 1;
              border: none;
              border-radius: 0.3rem;
              color: #000;
              background-color: $white;
              font-weight: bold;
              transition: background-color 300ms ease-in-out;
  
              &:hover {
                background-color: #D7DADC;
              }
            }
          }
  
        }
      }
}

.edit-profile {
    margin: 0 18%;
    animation: fade 500ms ease-in-out;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10%;

      @include md {
        margin: 0 10%; 
      }
    }

    &__back-button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 5%;

      .back-button {
        padding: 0.7rem 1.5rem;
        cursor: pointer;
        line-height: 1;
        border: none;
        border-radius: 0.5rem;
        color: $white;
        background-color: $orange;
        font-weight: bold;
        transition: all 300ms ease-in-out;
        margin-top: 5%;

        &:hover {
          transform: scale(1.035);
        }

        @include md {
          width: 100%;
          // margin-bottom: 1rem;
        }
      }

      .delete-button {
        padding: 0.7rem 1.5rem;
        cursor: pointer;
        line-height: 1;
        border: none;
        border-radius: 0.5rem;
        color: $white;
        background-color: $red;
        font-weight: bold;
        transition: all 300ms ease-in-out;
        margin-top: 5%;

        &:hover {
          transform: scale(1.035);
        }

        @include md {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      text-align: center; 
    }

    &__card {
      border-radius: 0.3rem;
      width: 450px;
      background-color: $white;
      box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
      padding: 1rem 1.5rem;
      margin: 1.5% 0;

      @include md {
        width: 295px; 
      }
    }

    &__main-title {
      text-align: center;
      margin: 1rem 0;
      color: #555555;
    }

    form {
        .form-field {
          input, textarea {
            border: 0.0625em solid #e5e5e5;
            background-color: #f6f6f6;
            border-radius: 0.5rem;
            width: 100%;
            color: #555555;
            padding: 10px;
          }
  
          textarea { 
            resize: none;
            display: inherit;
            font-family: "Hind", sans-serif;
            margin-top: 2.5rem;
          }
  
          small {
            display: inline-block;
            margin-bottom: 15px;
            margin-top: 10px;
            margin-left: 0.7rem;
          }
        }
  
        .form-field-social {
          display: flex;
          align-items: center;
          cursor: pointer;
          font-size: 0.8rem;
          justify-content: space-between;
          border: 0.0625em solid #e5e5e5;
          background-color: #f6f6f6;
          border-radius: 0.5rem;
          width: 100%;
          color: #555555;
          padding: 10px;
          margin: 1rem 0;
          
          i {
            margin-right: 0.5rem;
            margin-bottom: 0.3rem;
          }
        }
  
        .social-links {
          animation: fade-in 500ms ease-in-out;
          ul {
            list-style-type: none;
            border: 0.0625em solid #e5e5e5;
            background-color: #f6f6f6;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            width: 100%;
            color: #555555;
            padding: 10px;
            margin-bottom: 1rem;
            margin-top: -1.4rem;
            .social-container {
              position: relative;
              li {
                input {
                  width: 100%;
                  padding: 10px;
                  border: 0.0625em solid #e5e5e5;
                  margin: 0.5rem 0;
                  border-radius: 0.5rem;
                }
  
                i {
                  position: absolute;
                  color: #555555;
                }
  
                .youtube-icon {
                  top: 20px;
                  right: 15px;
                }
  
                .twitter-icon {
                  top: 20px;
                  right: 15px;
                }
  
                .facebook-icon {
                  top: 20px;
                  right: 15px;
                }
  
                .instagram-icon {
                  top: 20px;
                  right: 15px;
                }
              }
            }
          }
        }
  
        .form-field-select {
          position: relative;
          select {
            outline: none;
            appearance:none; // remove arrow
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 0.8rem;
            justify-content: space-between;
            border: 0.0625em solid #e5e5e5;
            background-color: #f6f6f6;
            border-radius: 0.5rem;
            width: 100%;
            color: #555555;
            padding: 10px;
            margin: 0.5rem 0;
            z-index: 5;
  
            option {
              outline: none;
              z-index: 10;
              border-radius: 0.5rem;

              &:disabled {
                display: none;
              }
            }
          }
  
          i {
            position: absolute;
            top: 8px;
            right: 16px;
            color: #555555;
            font-size: 0.8rem;
          }
  
          small {
            margin-left: 0.7rem;
          }
        }
  
      }
  
      &__button-container {
          input {
          border: none;
          border-radius: 0.3rem;
          width: 100%;
          padding: 10px;
          margin: 0.5rem 0;
          font-weight: bold;
          letter-spacing: 1.5px;
          color: $white;
          cursor: pointer;
          background-color: $orange;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          transition: transform 100ms ease-in-out;
    
          &:hover {
            transform: scale(1.01);
          }
    
          &:active {
            transform: scale(0.95);
          }
        }
      }

      &__modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: #000;
        padding: 1rem;
        width: 385px;
        background-color: $white;
        border: none;
        outline: none;
        box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
        border-radius: 0.3rem;
        animation: fade-1 500ms ease-in-out;
  
        
        @include md {
          width: 250px
        }
  
        .modal-wrapper {
          h1 {
            font-size: 1.3rem;
          }
  
          p {
            font-size: 0.8rem;  
            margin: 1rem 0;
          }
  
          .buttons-container {
            display: flex;
            justify-content: flex-end;
            .delete-button {
              text-decoration: none;
              padding: 0.7rem 1.5rem;
              cursor: pointer;
              line-height: 1;
              border: none;
              border-radius: 0.3rem;
              color: $white;
              background-color: $red;
              font-weight: bold;
              transition: background-color 300ms ease-in-out;
  
                &:hover {
                  background-color: $red-hover;
                }
                
            }
  
            .cancel-button {
              text-decoration: none;
              padding: 0.7rem 1.5rem;
              margin-left: 0.7rem;
              cursor: pointer;
              line-height: 1;
              border: none;
              border-radius: 0.3rem;
              color: #000;
              background-color: $white;
              font-weight: bold;
              transition: background-color 300ms ease-in-out;
  
              &:hover {
                background-color: #D7DADC;
              }
            }
          }
  
        }
      }
}