@import '../../../sass/mixins/breakpoints.scss';
@import '../../../sass/colors/variables.scss';

.comment {
    &__card {
        border-radius: 0.3rem;
        width: 450px;
        background-color: $white;
        box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
        padding: 1rem 1.5rem;
        animation: fade 500ms ease-in-out;
        margin: 3% 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @include md {
          flex-wrap: wrap;
          width: 295px; 
        }

        &:last-of-type {
          margin-top: 3%;
        }
        
        div {

            i {
                cursor: pointer;
            }
        }
    }

    &__image {
        img {
            cursor: pointer;
            border-radius: 50%;
            width: 100px;
            height: 100px;
        }

        p {
            text-align: center;
        }
    }

    &__text {
      p {
        overflow-wrap: break-word;
        max-width: 250px;
      }
    }

    &__modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: $black;
        padding: 1rem;
        width: 385px;
        background-color: $white;
        border: none;
        outline: none;
        box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
        border-radius: 0.3rem;
        animation: fade-1 500ms ease-in-out;

        @include md {
          width: 250px
        }
  
        .modal-wrapper {
          h1 {
            font-size: 1.3rem;
          }
  
          p {
            margin-bottom: 1rem;
            font-size: 0.8rem;
          }
  
          .buttons-container {
            display: flex;
            justify-content: flex-end;
            .delete-button {
              text-decoration: none;
              padding: 0.7rem 1.5rem;
              cursor: pointer;
              line-height: 1;
              border: none;
              border-radius: 0.3rem;
              color: $white;
              background-color: $red;
              transition: background-color 300ms ease-in-out;
              font-weight: bold;
  
              &:hover {
                background-color: $red-hover;
              }
            }
  
            .cancel-button {
              text-decoration: none;
              padding: 0.7rem 1.5rem;
              margin-left: 0.7rem;
              cursor: pointer;
              line-height: 1;
              border: none;
              border-radius: 0.3rem;
              color: $black;
              background-color: $white;
              font-weight: bold;
              transition: background-color 300ms ease-in-out;
  
              &:hover {
                background-color: $body-color-dark;
              }
            }
          }
  
        }
      }
}

.post-detail {
  margin: 0 18%;
  animation: fade 500ms ease-in-out;

    &__back-button-container {
      margin: 5% 0;

      @include md {
        width: 100%;
        margin: 1rem 0;
        display: flex;
      }

      .back-button {
        padding: 0.3rem 1.7rem;
        cursor: pointer;
        line-height: 1;
        border: none;
        border-radius: 0.5rem;
        color: $white;
        background-color: $orange;
        font-weight: bold;
        transition: all 300ms ease-in-out;
        text-decoration: none;
        
        &:hover {
            transform: scale(1.035);
        }

          @include md {
            width: 100%;
            padding: 0.8rem 1.7rem;
            text-align: center;
          }
      }
    }
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // height: 90vh;

      @include md {
        margin: 0 10%; 
      }
    }

    &__personal-controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2%;

      @include md {
        margin-bottom: 10%;
      }
      
      .personal-button {
        padding: 0.7rem 1.5rem;
        margin-right: 5%;
        cursor: pointer;
        line-height: 1;
        border: none;
        border-radius: 0.5rem;
        color: $white;
        background-color: $orange;
        font-weight: bold;
        transition: all 300ms ease-in-out;

        a {
          text-decoration: none;
          color: inherit;
        }

        &:hover {
          transform: scale(1.035);
        }
      }
    }

    &__card {
      border-radius: 0.3rem;
      width: 450px;
      background-color: $white;
      box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
      padding: 1rem 1.5rem;
      margin: 1.5% 0;

      @include md {
        width: 295px; 
      }   

      p {
        overflow-wrap: break-word;
      }

      .share-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        
          h1 {
            @include md {
              font-size: 1.6rem;
            }
          }


        .share-button {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 36px;
          padding: 0px 11px;
          white-space: nowrap;
          border: none;
          border-radius: 3px;
          appearance: none;
          cursor: pointer;
          user-select: none;
          margin-bottom: 0.5rem;
          font-size: 17.5px;
          font-weight: normal;
          background-color: $white;
          transition: all 100ms ease-in-out;

          &:hover {
            background: $body-color-dark;
          }

          @include md {
            margin-bottom: initial;
          }
        }
      }

      .content-container {
        margin: 5% 0;
      }

      .like-container {
        display: flex;
        justify-content: space-between;
        margin: 5% 0;

        div {
          button {
            background-color: $body-color-dark;
            border: none;
            border-radius: 0.2rem;
            padding: 0.3rem;
            cursor: pointer;

            &:nth-child(2) {
              margin-left: 1rem;
            }

            i {
              color: #1A1A1B;
            }
          }
        }

        
      }
    }
    
  &__modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      color: $black;
      padding: 1rem;
      width: 385px;
      background-color: $white;
      border: none;
      outline: none;
      box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
      border-radius: 0.3rem;
      animation: fade-1 500ms ease-in-out;

      @include md {
        width: 250px
      }
      
      .modal-wrapper {
        h1 {
          font-size: 1.3rem;
        }
        
        p {
          font-size: 0.8rem;

          &:nth-child(2) {
            margin-top: 0.5rem;
          }

          &:nth-child(3) {
            margin-bottom: 1rem;
          }
        }

        .buttons-container {
          display: flex;
          justify-content: flex-end;
          .delete-button {
            text-decoration: none;
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.3rem;
            color: $white;
            background-color: $red;
            transition: background-color 300ms ease-in-out;
            font-weight: bold;

            &:hover {
              background-color: $red-hover;
            }
          }

          .cancel-button {
            text-decoration: none;
            padding: 0.7rem 1.5rem;
            margin-left: 0.7rem;
            cursor: pointer;
            line-height: 1;
            border: none;
            border-radius: 0.3rem;
            color: $black;
            background-color: $white;
            font-weight: bold;
            transition: background-color 300ms ease-in-out;

            &:hover {
              background-color: $body-color-dark;
            }
          }
        }
      }
    }

    &__attendees-modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $black;
      padding: 1rem;
      width: 33%;
      background-color: $white;
      border: none;
      outline: none;
      box-shadow: rgba(0, 0, 8, 0.08) 0px 4px 8px 0px;
      border-radius: 0.3rem;
      animation: fade-1 500ms ease-in-out;

      @include md {
        width: 75%;
      }

      .modal-wrapper {
        .top-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-right: -1rem;

          h1 {
            font-size: 1.7rem;
          }

          .close-button {
            text-decoration: none;
            padding: 0.7rem 1.5rem;
            cursor: pointer;
            border: none;
            border-radius: 0.3rem;
            color: $black;
            font-size: 1.7rem;

            i {
              font-size: 20px;
            }
          }
        }

        hr {
          padding: 2% 0;
          border: none;
          
          &:before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            max-width: 100%;
            border: 1px solid #dcdcdc;
          }
        }

        .attendees-container {
          overflow: auto;
          height: 305px;
          padding-right: 1rem;
          margin-right: 11.2px;

          &::-webkit-scrollbar {
            height: 7px;
            width: 8px;
            top: -10px;

            @include md {
              display: none;
            }
          }
      
          &::-webkit-scrollbar-track {
            cursor: pointer;
            background-color: $white;
            border-radius: 1rem;
          }
      
          &::-webkit-scrollbar-thumb {
            background-color: #BABBBE;
            border-radius: 1rem;

            &:hover {
              background-color: #6e6e6e;
            }
          }

          .attendee {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5% 4%;

            .profile-info {
              display: flex;
              justify-content: space-between;
              align-items: center;

            div {
              img {
                cursor: pointer;
                border-radius: 50%;
                width: 50px;
                height: 50px;
              }

              p {
                &:nth-child(1) {
                  font-weight: bold;
                }
              }

              &:nth-child(2) {
                margin-left: 1rem;
              }
            }
          }

          .profile-button {
            button {
              padding: 0.7rem 1.5rem;
              margin-right: 5%;
              cursor: pointer;
              line-height: 1;
              border: none;
              border-radius: 0.5rem;
              color: $white;
              background-color: $orange;
              font-weight: bold;
              transition: all 300ms ease-in-out;
            }

            @include md {
              display: none;
            }
          }
        }
      }
    }
  }
}

.disabled {
  opacity: .8;
  cursor: not-allowed !important;
  filter: contrast(.66);
  
  &:hover {
      transform: initial;
  }
}